redis==4.2.2
orjson==3.6.7
Cython==0.29.37
python-dotenv==0.20.0
uvicorn[standard]==0.17.6
cassandra-driver==3.25.0
itsdangerous==2.1.2
uvloop==0.16.0; platform_system!="Windows" # https://github.com/MagicStack/uvloop/issues/14
gunicorn==20.1.0; platform_system!="Windows"
bcrypt==3.2.2
blacksheep==1.2.7
blacksheep-prometheus==0.1.6
boto3==1.22.3
python-datauri==1.1.0
email-validator==1.2.1
imgproxy==1.0.0